<div class="container-fluid">
	<div class="row text-center">
		<h3 class="well"><%= "已选择方案#{@order.sample_number}，等待设计师完成初稿" %></h3>
	</div>

	<%= render partial: "common/user_selected_style" %>

</div>