<!DOCTYPE html>
<html>
  <section class=" faq-bg">
     <div class="container">
       <div class="row">
         <div class="col-md-12 faq-page">
           <h2>常见问题</h2>
           <hr>
          <p>
            你们的网站能给我带来什么价值？
          </p>
          <span>
          1、帮助设计师和客户之间建立起高效的在线设计和沟通平台
          <br>
          2、网站的图片批注功能操作起来简易 用户与设计师的反馈清晰易懂
          <br>
          3、快速接单 按时交稿 大大节省用户的时间
          </span>
           <br><br><br>


          <p>对设计师有什么资质或技能要求？</p>
          <span>
          1、从业时间三年以上
          <br>
          2、其作品在设计大赛获奖的设计师是我们的首先
          <br>
          3、经过网站审核通过的 切有十个以上的作品
          </span>
          <br><br><br>

          <p>
            你们的网站运营范围是什么？
          </p>
          <span>
          1、本网站擅长 logo设计 网页制作 和ppt
          <br>
          2、 服务于国内各个省份顾客
          </span>
          <br><br><br>

          <p>如果设计师水平不够，我要怎么办呢</p>
          <span>
          1、平台会及时与设计师沟通改正设计方案
          <br>
          2、还是不满意的话 我们会为您更换设计师，
          <br>
          3、组织专家设计师团队为你的设计保驾护航
          </span>
          <br><br><br>

          <p>如何联络我们</p>
          <span>
          1、电子邮件
          <br>
          2、微信、微博等在线聊天工具
          <br>
          3、客户电话
          <br>
          4、直接在网站留言
          </span>
          <br><br><br>

          <p>你们有负责跟进的客服人员？</p>
          <span>
            1、设计师总监可在平台上看到每张订单状态实时跟进 提醒设计师及时交稿。
            <br>
            2、每个客户有其专有设计师在线沟通
         </span>
         <br><br><br>

        <p>你们的网站上有哪些牛逼的设计师？</p>
        <span>
          曾铮和他的伙伴们
        </span>
        <br><br><br>

        </div>
      </div>
    </div>
  </section>
</html>
