<div class="container">

    <br><br><br><br><br>

    <%= link_to "返回稿件列表", designer_order_path(@order), class: "btn btn-default" %>

    <h3>上传图片样张给用户</h3>
    <br><br>

    <%= render partial: "common/nested_form_for_version", locals: {order: @order} %>  

</div>
