<div class="row">

	<%= link_to "返回稿件列表", designer_order_path(@order), class: "btn btn-default pull-left" %>
	<br>
	<br>
	<br>

  <% @samples.each_with_index do |sample, i| %>
    <div class="col-md-3">
      No. <%= i+1 %>
      <%= render_sample(sample) %>
    </div>
  <% end %>
</div>
