<header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <!-- 固定在顶部 -->
      <div class="container-fluid">
        <!-- 手机看的时候卷起来 -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#">DesignDeck</a>
        </div>

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#">user1</a>
            </li>
            <li>
              <a class="page-scroll" href="#">个人中心</a>
            </li>
            <li>
              <a class="page-scroll" href="#">退出</a>
            </li>
            <li class="button02 box2">
                <h5>添加设计委托</h5>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<!-- 一句话形容自己 -->
<section class="banner" id="home">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
      	<h3>平面设计、logo设计、网页设计</h3>
      	<h1>结案速度快三倍</h1>
      	<p>DesignDeck 为客户、设计师提供无障碍沟通工具迅速达成共识<br>省时、省力、省心</p>
        <button class="btn btn-default blud">添加一个设计委托</button>
    		<button class="btn btn-default no-color">设计师入口</button>
      </div>
    </div>
  </div>
</section>
<!-- end 一句话形容自己 -->

<!-- 使用此服务的好处 -->
<section class="advantage text-center">
  <div class="container">
    <div class="row">
      <h4>快速结案的可行性方案</h4>
      <h2>三大优势工具完美解决设计沟通问题</h2>
      <div class="col-md-4">
        <i class="fa fa-desktop"></i>
        <h3>视觉化沟通，双方理解无偏差</h3>
        <p>我们为您提供一套根据生物学合理制定高效结案流程表。</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-cog"></i>
        <h3>便利高效合作无障碍</h3>
        <p>我们提供简单易用高逼格初稿工具组合、快速初稿工具箱，大大降低你的时间成本</p>
      </div>
      <div class="col-md-4">
        <i class="fa fa-tasks"></i>
        <h3>迅速解决客户最迫切需求</h3>
        <p>我们提供有效沟通大套路，利用故事地图故事与客户互动，理清双方思路。</p>
      </div>
    </div>
  </div>
</section>
<!-- end 使用此服务的好处 -->
<hr>

<!-- 叙述运作原理 -->
<section class="details">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-6 col-sm-6">
        <img class="img-responsive details-image" src="https://ooo.0o0.ooo/2016/11/26/5839348a0ff0d.png" alt=""><!-- img-responsive 可限制图片不爆格 -->
      </div>
      <div class="col-md-6 col-md-offset-1 col-xs-6 col-sm-6">
        <h4>dip into the details</h4>
				<h2>Beautiful on every device</h2>
				<hr class="hr-blue">
				<p>Duis sed odio sit amet nibh vulputate cursus a sit
          amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a
          odio tincidunt auctor a ornare odio. Sed non  mauris vitae
          erat consequat auctor eu in elit. </p>
				<ul>
					<li><i class="fa fa-check-circle"></i>Awesome design</li>
					<li><i class="fa fa-check-circle"></i>Fully responsive</li>
					<li><i class="fa fa-check-circle"></i> Retina ready</li>
					<li><i class="fa fa-check-circle"></i>Tons of features and easy to use</li>
				</ul>
      </div>
    </div>
  </div>
</section>
<!-- end 叙述运作原理 -->

<!-- 设计师使用 -->
<section class="designer-details">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <h4>dip into the details</h4>
				<h2>Super easy to customize</h2>
        <hr class="hr-blue">
        <p>Duis sed odio sit amet nibh
          vulputate cursus a sit amet mauris. Morbi accumsan
          ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
          Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent
          taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          himenaeos.</p>
      </div>
      <div class="col-xs-7 designer-feedback">
        <img class="img-responsive" src="https://ooo.0o0.ooo/2016/11/26/58396bcd9bc14.png">
      </div>
    </div>
  </div>
</section>
<!-- 设计师使用 -->

<section class="details">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-6 col-sm-6">
        <img class="img-responsive details-image" src="https://ooo.0o0.ooo/2016/11/26/5839348a0ff0d.png" alt="">
      </div>
      <div class="col-md-6 col-md-offset-1 col-xs-6 col-sm-6">
        <h4>dip into the details</h4>
				<h2>Beautiful on every device</h2>
				<hr class="hr-blue">
				<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
				<ul>
					<li><i class="fa fa-check-circle"></i>Awesome design</li>
					<li><i class="fa fa-check-circle"></i>Fully responsive</li>
					<li><i class="fa fa-check-circle"></i> Retina ready</li>
					<li><i class="fa fa-check-circle"></i>Tons of features and easy to use</li>
				</ul>
      </div>
    </div>
  </div>
</section>
<hr>
<!-- 使用者见证 -->
<section class="user-look">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h4>slahjgaslkjsa;ligj</h4>
        <h2>我们的客户</h2>
      </div>

    </div>
    <div class="user-look-box">
      <!-- item1 -->
        <div class="col-md-3 col-sm-6">
          <div class="user-look-table">

            <div class="user-look-image">
              <img class="img-responsive" src="https://ooo.0o0.ooo/2016/11/27/583a958f3dbf9.jpg">
            </div>

            <div class="user-look-content">

              <h3><i class="fa fa-tags"></i>&nbsp;&nbsp;素雅书装设计</h3>
              <p>梁先生</p>
            </div>

            <div class="user-look-read text-center">
              <p>合理地管理客户需求后，没有了无尽的加班。我可以用更多时间去看书、听喜欢的音乐。</p>
							<button>阅读更多</button>
            </div>

          </div>
        </div>
        <!-- item2 -->
        <div class="col-md-3 col-sm-6">
          <div class="user-look-table">

            <div class="user-look-image">
              <img class="img-responsive" src="https://ooo.0o0.ooo/2016/11/27/583a958d6822e.jpg">
            </div>

            <div class="user-look-content">

              <h3><i class="fa fa-tags"></i>&nbsp;&nbsp;素雅书装设计</h3>
              <p>梁先生</p>
            </div>

            <div class="user-look-read text-center">
              <p>合理地管理客户需求后，没有了无尽的加班。我可以用更多时间去看书、听喜欢的音乐。</p>
							<button>阅读更多</button>
            </div>

          </div>
        </div>
        <!-- item3 -->
        <div class="col-md-3 col-sm-6">
          <div class="user-look-table">

            <div class="user-look-image">
              <img class="img-responsive" src="https://ooo.0o0.ooo/2016/11/27/583a958b92bff.jpg">
            </div>

            <div class="user-look-content">

              <h3><i class="fa fa-tags"></i>&nbsp;&nbsp;素雅书装设计</h3>
              <p>梁先生</p>
            </div>

            <div class="user-look-read text-center">
              <p>合理地管理客户需求后，没有了无尽的加班。我可以用更多时间去看书、听喜欢的音乐。</p>
							<button>阅读更多</button>
            </div>

          </div>
        </div>
        <!-- itme4 -->
        <div class="col-md-3 col-sm-6">
          <div class="user-look-table">
            <div class="user-look-image">
              <img class="img-responsive" src="https://ooo.0o0.ooo/2016/11/27/583a958a79122.jpg">
            </div>
            <div class="user-look-content">
              <h3><i class="fa fa-tags"></i>&nbsp;&nbsp;素雅书装设计</h3>
              <p>梁先生</p>
            </div>
            <div class="user-look-read text-center">
              <p>合理地管理客户需求后，没有了无尽的加班。我可以用更多时间去看书、听喜欢的音乐。</p>
							<button>阅读更多</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- end 使用者见证 -->

<!-- Call to action -->
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <p><span>马上注册</span>&nbsp;即可获赠设计体验稿一份&nbsp;&nbsp;>></p>
      </div>
      <div class="col-md-4 col-sm-4">
        <button class="call-action-button">注册体验</button>
      </div>
    </div>
  </div>
</section>
<!-- end call to action -->

<!-- 免费注册 -->
<section class="free text-center">
    <div class="container">
      <div class="row">
        <div class="free-head">
          <h2>我们的承诺</h2>
          <hr class="hr-blue">
        </div>
        <div class="col-md-2 col-md-offset-1 col-xs-4 col-sm-4">
				<i class="fa fa-phone"></i>
				<p>1小时内设计师接应</p>
				<p></p>
			</div>
			<div class="col-md-2 col-md-offset-2 col-xs-4 col-sm-4 clearfix">
				<i class="fa fa-file"></i>
				<p>24小时内发送稿件</p>
			</div>
      <div class="col-md-2 col-md-offset-2 col-xs-4 col-sm-4">
				<i class="fa fa-jpy"></i>
				<p>初稿可无理由退款</p>
			</div>
        <div class="free-table">
          <div class="col-md-3 col-sm-6">
            <div class="one-table">
              <h5></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!-- end 免费注册 -->
<section class="footer-icons text-center">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="icons">
        <a href=""><i class="fa fa-weibo"></i></a>
        <a href=""><i class="fa fa-weixin"></i></a>
        <a href=""><i class="fa fa-behance"></i></a>
        <a href=""><i class="fa fa-dribbble"></i></a>
        <a href=""><i class="fa fa-github"></i></a>
        <a href=""><i class="fa fa-google"></i></a>
      </div>
    </div>
  </div>
</div>
</section>
