<div class="container text-center">

	<h2>对此图片加批注</h2>
	<%= image_tag @sample.image.url, class: "thumbnail horizontal-center", id:"target" %>
	<div id="data">The data goes here</div>
	<button id="show">Show Data</button>

</div>


