


<br>

<div style="text-align: center;">
	<%= image_tag @sample.image.url, class: "thumbnail horizontal-center" %>
	<br/>
		<%= link_to "返回", account_order_path(@sample.version.stage.order), class: "btn btn-default btn-lg" %>
</div>


