<h2>编辑需求</h2>

<div class="col-md-4 col-md-offset-4">

	<%= simple_form_for [:users, @order] do |f| %>

		<div class="form-group">
			<%= f.input :title, input_html: { class: "form-control"}  %>
			<br>
			<%= f.input :description, input_html: { class: "form-control"}  %>
			<br>
		</div>

  		<div class="form-action">
   			<%= f.submit "Submit", disable_with: "Submitting...", class: "btn btn-primary pull-right"  %>
    	</div>

	<% end %>
</div>

