<!-- <div class="row">
          <div class="col-md-12">
            <h4>新的订单</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4>已完成的订单</h4>
          </div>
        </div> -->

<section class="order-list ">
  <div class="container">
    <div class="row order-list-top">

      <div class="col-md-3 designer-left ">

            <h4><i class="fa fa-play-circle"></i>正在进行的订单</h4>

            <h4><i class="fa fa-pause-circle"></i>可接收的订单</h4>

            <h4><i class="fa fa-stop-circle"></i>已完成的订单</h4>

      </div>

      <div class="col-md-9 designer-right">
        <div class="row">
          <div class="col-md-1">
          <h3>&nbsp;&nbsp;001</h3>
          </div>
          <div class="col-md-8">
            <h4>订单名称<h4>
            <p>订单内容订单内容订单内容订单内容订单内容订单内容订单内容</p>
          </div>
          <div class="col-md-3 text-center">
            <p class="text-right"><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;logo&nbsp;&nbsp;&nbsp;</p>
            <p>当前状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年11月30日</p>
          </div>
        </div>
      </div>

      <div class="col-md-9 designer-right">
        <div class="row">
          <div class="col-md-1">
          <h3>&nbsp;&nbsp;002</h3>
          </div>
          <div class="col-md-8">
            <h4>订单名称<h4>
            <p>订单内容订单内容订单内容订单内容订单内容订单内容订单内容</p>
          </div>
          <div class="col-md-3 text-center">
            <p class="text-right"><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;logo&nbsp;&nbsp;&nbsp;</p>
            <p>当前状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年11月30日</p>
          </div>
        </div>
      </div>

      <div class="col-md-9 designer-right">
        <div class="row">
          <div class="col-md-1">
          <h3>&nbsp;&nbsp;003</h3>
          </div>
          <div class="col-md-8">
            <h4>订单名称<h4>
            <p>订单内容订单内容订单内容订单内容订单内容订单内容订单内容</p>
          </div>
          <div class="col-md-3 text-center">
            <p class="text-right"><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;logo&nbsp;&nbsp;&nbsp;</p>
            <p>当前状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年11月30日</p>
          </div>
        </div>
      </div>
      <div class="col-md-9 designer-right">
        <div class="row">
          <div class="col-md-1">
          <h3>&nbsp;&nbsp;004</h3>
          </div>
          <div class="col-md-8">
            <h4>订单名称<h4>
            <p>订单内容订单内容订单内容订单内容订单内容订单内容订单内容</p>
          </div>
          <div class="col-md-3 text-center">
            <p class="text-right"><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;logo&nbsp;&nbsp;&nbsp;</p>
            <p>当前状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年11月30日</p>
          </div>
        </div>
      </div>
      <div class="col-md-9 designer-right">
        <div class="row">
          <div class="col-md-1">
          <h3>&nbsp;&nbsp;005</h3>
          </div>
          <div class="col-md-8">
            <h4>订单名称<h4>
            <p>订单内容订单内容订单内容订单内容订单内容订单内容订单内容</p>
          </div>
          <div class="col-md-3 text-center">
            <p class="text-right"><i class="fa fa-chevron-circle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;logo&nbsp;&nbsp;&nbsp;</p>
            <p>当前状态&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年11月30日</p>
          </div>
        </div>
      </div>





    </div>
  </div>
</section>
        <!-- <div class="row designer-right top-margin">
          <table class="table-text-style">
            <tr>
              <th rowspan="2">001</th>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>订单名称</td>
              <td>2016年11月30日 3:40</td>
              <td>logo</td>
            </tr>
            <tr>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>订单内容订单内容订单内容订单内容订单内容订单内容订单内容</td>
              <td></td>
              <td>当前状态</td>
            </tr>
          </table> -->




 <!-- <div class="container">
  <br>
  <h3>当前的订单</h3>
  <%= render partial: "common/designer_orders_table", locals: {orders: @current_orders} %>
  <br>

  <h3>新的订单</h3>
  <%= render partial: "common/designer_orders_table", locals: {orders: @new_orders} %>
  <br>

  <h3>已完成的订单</h3>
  <%= render partial: "common/designer_orders_table", locals: {orders: @completed_orders} %>

</div> -->
