
<div class="container">
  <br>
  <h3>当前的订单</h3>
  <%= render partial: "common/designer_orders_table", locals: {orders: @current_orders} %>
  <br>

  <h3>新的订单</h3>
  <%= render partial: "common/designer_orders_table", locals: {orders: @new_orders} %>
  <br>

  <h3>已完成的订单</h3>
  <%= render partial: "common/designer_orders_table", locals: {orders: @completed_orders} %>

</div>
