<div class="row">
  <div class="col-md-12">
    <% case @order.aasm_state %>
      <% when "order_placed" %>
        <%= render "common/initial_version" %>
      <% when "style_decided" %>
        <%= render "common/second_version" %>
      <% when "started" %>
        <%= render "more_version" %>
    <% end %>
  </div>
</div>
