<br>
<br>


<div class="container-fluid">
	<h2 class="text-center">当前稿件</h2>
	<% @version.samples.each do |sample| %>
        <div class="col-md-3">
            <%= render_sample_with_link(sample) %>
        </div>
    <% end %>
</div>