/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";



// #4687f4 全站蓝色色号

.total_price {
  font-size: 15pt
}

.progress-indicator {
  width: 80%;
}


/********************************************************************/



.marker{
  width: 27px;
  height: 40px;
  position: absolute;
  left: -13px;
  top: -35px;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: -1px;
  text-align: center;
  color: #fff;
}
 
.marker.black{
  background: url("marker_black.png");
}


table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

/*** element horizontal center ***/

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}


/*** PANEL PRIMARY ***/

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}


.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

/********************************************************************/




/*
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #0096FF;
  color: white;
  border-color: transparent;
}
*/



/*****************************button 02*****************************/
.button02{

	color: #fff;
	font-size: 12px;
	line-height: 1.64;
	// margin-top: 12px;
}
.box2 {
	background: #4687f4;
	color: #fff;
	cursor: pointer;
	display: block;
	// margin-top: 3px;
	padding: 18px;
	text-align: center;
	width: 150px;
	transition:all 1s ease-out;
	-webkit-transition: -webkit-box-shadow 0.5s ease-out;
	-moz-transition: -moz-box-shadow 0.5s ease-out;
	// -o-transition: box-shadow 0.5s ease-out;
}
.box2:hover {
	-moz-box-shadow: 0px 0px 15px #4687f4;
	-webkit-box-shadow: 0px 0px 15px #4687f4;
	 box-shadow: 0px 0px 15px #4687f4;
}
.button02:hover h5{
	// color: #fff;
	text-decoration: none;
}
/*********************************end  button02***********************/


.version-indicator {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #69B5FD;
  color: white;
}


/**************************begin 白色box ***********************/

.box {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 260px;
  height: 180px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  // -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  // transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  // border-radius: 5px;
  position:absolute;
  // z-index:－1 ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  // -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  // transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

// .box:hover {
//   -webkit-transform: scale(1.25, 1.25);
//   transform: scale(1.25, 1.25);
// }

.box:hover::after {
    opacity: 1;
}
.margin-set{
  margin-top: 10px;
}
.box p{
  color: #888b8d;
}
.box:hover p{
  color: #4687f4;
}

.box h4{
  color: #888b8d;
  // margin: 80px;
}

.box:hover h4{
  color: #4687f4;
}
.box-no-shadow {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 260px;
  height: 180px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 2px dashed #ccc;
  // -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  // transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box-no-shadow::after {
  content: "";
  // border-radius: 5px;
  position:absolute;
  z-index:1 ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #4687f4;
  opacity: 0;
}
.box-no-shadow:hover::after {
    opacity: 1;
}
.box-no-shadow h5{
  color: #4687f4;
}
.box-no-shadow:hover h5{
  color: #4687f4;
}



/**************************end 白色box *************/

#add-icon-color{
  color: #4687f4;
  margin-top: 30px;
}
#add-icon-color :hover{
  color: #4687f4;
}
#text-and-botton-bule{
  color: #4687f4;
}
#text-and-botton-gray{
  color: #888b8d;
}
#text-and-botton-gray :hover{
  color: #4687f4;
}
.btn-primary-diy{
  color: #333;
  background-color: #fff;
  // border-color: #4687f4;
}
.login-diy{
  margin-top: 15px;
}
.container-diy{
  z-index: -2;
  background-color: #f6f6f6;
  // padding-top: 0px;
}
.add-praject-button{
  width: 150px;
  height: 43px;
  margin: 40px;
  border: 2px solid #4687f4; //全站所有蓝色色号
  color: #ffffff;
  margin-top: 12px;
  background-color: #4687f4;
}

.project p{
  margin-top: 10px;
  font-size: 10pt;
}
.project-img{
  position: relative;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-size: cover;
    background-position: center center;
}

#shadow-over :hover{
  background-color:#fff;
}

.navbar-diy{
  height: 71px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 10px #bfbfbf; //x坐标 y坐标 模糊程度 颜色
}
.navbar-logo-diy{
  margin-top: 14px;
  margin-left: 30px;
  font-size: 20pt;
}
.button-height{
  height: 223px;
}
.navbar-right li{
  margin-right: 100px;
}
.login-diy{
color: #666;
  }

// .blue-btn :hover{
//   background-color: #f1f1f1;
// }
.font-gray{
  color: #666;
}
.font-gray2{
  color: #bfbfbf;
}
.onepage{
  height: 750px;
}
.onepage-bg{
  height: 800px;
  width: 100%;
  position: absolute; //绝对定位，如果删除，图片会在内容下面承载页面。
  background-position: center center;
  background-size: cover; //屏幕缩小时，图片不压缩。
}

#onepagebg{
  background-image: url("https://ooo.0o0.ooo/2016/11/16/582c1468947dc.jpg");
}

.onepage0{
  height: 400px;
  // background-color: #5c9cfb;
}
.onepage-bg0{
  height: 450px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}
#onepagebg1{
  background-image: url("https://ooo.0o0.ooo/2016/11/16/582c6517ddf8f.jpg")
}
.headh1content{
  margin-top: 300px;
  line-height: 75px; //行间距
}
.headfontsize h1{
  font-size: 50pt;
  // color: #333;
  // margin-bottom: 50px;
}
.headfontsize h4{
  margin-top: 50px;
  margin-bottom: 30px;
}
.title-text{
  // margin-left: 0px;
}
.text-top-diy{
  margin-top: 200px;
}
.text-top-diy h3{
  font-size: 28pt;
  color: #666;
}
.text-top-diy p{
  color: #ccc;
}

.cart{
  background-color: #eeeeee;
  padding: 70px;
}
.cart-image{
  margin: 25px 0px 15px 15px;
}
.cart-info{
  // height: 240px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px #bfbfbf; //x坐标 y坐标 模糊程度 颜色
}
.cart-info h3{
  margin-top: 30px;
  color: #666666;
}
.checkout-button{
  height: 65px;
  margin-top: 40px;
}
.cart-text{
  margin-top: 30px;
  color: #666666;
}
.cart-text2 p{
  color: #bfbfbf;
}
.cart-text2 hr{
  margin-top: 4px;
  margin-bottom: 10px;
}
.text-time{
  margin-top: 50px;
  color: #666666;
}
.text-time hr{
  border-top: 1px solid #bfbfbf; //hr 的颜色设置
}
.text-time h4{
  margin-bottom: 20px;
}

.landing-form-hight{
  height: 400px;
}

.devise-diy-shin{
  margin-top: 100px;
  color: #666666;
}

.landing-form-wide{
  width: 300px;
}

/************ order/show *************/
.with-button{
  width: 120px;
}


/************ end order/show *************/
// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #f2f2f2;
$table-header-background-color: #3071a9;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      text-align: center;
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles

// body {
//   padding: 0 2em;
//   font-family: Arial, sans-serif;
//   color: #024457;
//   background: #f2f2f2;
// }

// h1 {
//   font-family: Verdana;
//   font-weight: normal;
//   color: #024457;
//   span {color: #167F92;}
// }

// designer profile 相关css
.Designer-profile{
  margin-top: 30px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}


.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.top img{
  vertical-align:text-top
}


.bottom img{
  vertical-align:text-bottom
}
