/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.button-diy {
  // box-sizing: border-box;
  // background-color: #f2f2f2;
  // margin: 15px;
  // padding: 120px;
  // border-style: solid;
  // border-color: #cccccc;
  // border: 1px solid #cccccc
}
.navbar-diy{
  box-shadow: 0px 15px 10px 15px #000;
}

.button-height{
  height: 250px;
}
.project-new{
  height: 250px;
}

.blue-btn :hover{
  background-color: #f1f1f1;
}
.font-gray{
  color: #666;
}
.font-gray2{
  color: #bfbfbf;
}
.onepage{
  height: 750px;
}
.onepage-bg{
  height: 800px;
  width: 100%;
  position: absolute; //绝对定位，如果删除，图片会在内容下面承载页面。
  background-position: center center;
  background-size: cover; //屏幕缩小时，图片不压缩。
}
#onepagebg{
  background-image: url("https://ooo.0o0.ooo/2016/11/16/582c1468947dc.jpg");
}
.headh1content{
  margin-top: 400px;
  line-height: 75px; //行间距
}
.title-text{
  margin-left: 50px;
}
