/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";





// #4687f4 全站蓝色色号

/************************ begen navbar ******************************/
.navbar-collapse{
  margin-right:100px;
}
.nabvar-header > a{
  font-size: 50px;
  margin-left: 20px;
}
.nav>li>a {
  position: relative;
  display: block;
  // padding: 10px 0px;
}
.navbar-default {
  background: #fff;
  border-color: transparent;
  // padding: 10px 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}
.navbar-nav>li>a {
    padding-top: 25px;
    // padding-bottom: 10px;
    // line-height: 20px;
}
.navbar-default .navbar-nav>li>a {
  color:  #949494;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #4687f4;
}
.navbar-right li{
    margin-right: 20px;
}
.navbar-right{
    margin-right: 100px;
    margin-bottom: -1px;
}
.navbar-brand {
    // float: left;
    padding: 22px 15px;
    font-size: 25px;
    line-height: 20px;
    height: 50px;
}
.navbar > .container-fluid .navbar-brand {
  margin-left:20px;
}
/*button 02*/
.button02{
	color: #fff;
	font-size: 12px;
	line-height: 1.64;
	margin-right: 12px;
}
.box2{
	background: #4687f4;
	color: #fff;
	cursor: pointer;
	display: block;
	padding: 18px;
	text-align: center;
	width: 150px;
	transition:all 1s ease-out;
	// -webkit-transition: -webkit-box-shadow 0.5s ease-out;
	// -moz-transition: -moz-box-shadow 0.5s ease-out;
	// -o-transition: box-shadow 0.5s ease-out;
}
.box2.h5.a{
  color: #fff;
}

.box2 h5{
  color: #fff;
}


.box2:hover {
	// -moz-box-shadow: 0px 0px 15px #4687f4;
	// -webkit-box-shadow: 0px 0px 15px #4687f4;
	 box-shadow: 0px 0px 15px #4687f4;
}
.button02:hover li h5{
	color: #fff;
	text-decoration: none;
}

#blue-btn-primary{
  color: #fff;
	text-decoration: none;
  display: inline-block;
  float: right;
}

#blue-btn-primary:hover{
  color: #4687f4;
}

#disabled-blue-btn-primary {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  pointer-events: none;
  cursor: default;
}

/************************ end navbar ******************************/

/************************ begen Landing Page ******************************/

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18em;
    height: 10em;
}

/* 一句话形容自己 */
.banner{
  background: url("https://ooo.0o0.ooo/2016/11/16/582c1468947dc.jpg");
  background-repeat: no-repeat; //背景不重复
  background-position: center;
  // overflow: hidden;
  -webkit-background-size: cover;
  background-size: cover;
}
.banner h3{
	font-size: 14px;
	color: #4687f4;
	margin-top: 350px;
	font-weight: 700;
}
.banner h1{
	font-size: 55px;
	// color: #1a1a1a;
  color: #ffffff;
}
.banner p{
	font-size: 18px;
	color: #999999;
	margin-top: 25px;
	line-height: 2;
	font-weight: 600;
}
.btn-default.no-color{
  padding: 13px 40px;
  font-weight: 700;
  margin-right: 5px;
  background: transparent; //背景透明
  position: relative; //相对位置
  margin-top: 20px;
  margin-bottom: 105px;
}
.btn-default.no-color:hover{
  background: #4687f4;
  color: #ffffff;
  border-color: #4687f4;
}
.btn-default.blud{
  padding: 13px 40px;
  margin-top: 20px;
  position: relative;
  background: #4687f4;
  border-color: #4687f4;
  font-weight: 700;
  color: #ffffff;
  margin-right: 5px;
  margin-bottom: 105px;
}

.btn-default.blud:hover{
  background: transparent;
  color: #222222;
}

/*此服务好处*/
.advantage h4{
  margin-top: 100px;
  font-size: 18px;
  color: #999999;
}
.advantage i.fa{
  margin-top: 80px;
  font-size: 25px; //fa图标的大小可用字号大小控制
  color: #4687f4;
  font-weight: 700;
  width: 100px;
  height: 100px;
  border: 1px solid #e1e1e1;
  border-radius: 50%; //倒角把方形变为圆形
  line-height: 4; //把fa居中
  cursor: pointer;
}
.advantage i.fa:hover{
  color: #fff;
  background: #4687f4;
}
.advantage h3{
  font-size: 24px;
  color: #1a1a1a;
}
.advantage p{
  font-size: 17px;
  color: #999999;
  margin-bottom: 70px;
}

/*运作原理*/
.details{
  margin: 70px;
}
.details-image{
  margin-top: 50px;
}
.details p{
  font-size: 18px;
  color: #999999;
  margin: 30px 0;
}
.hr-blue{
  border: 1px solid #4687f4;
}
.details ul{
  margin: 0;//分开定义，既工整又好用
  padding: 0;
}
.details ul li{
  font-size: 18px;
  color: #1b1b1b;
  list-style-type:none; //去掉 li 前面的小黑点
}
.details ul li i.fa{
  font-size: 20px;
  color: #4687f4;
  height: 30px;//把文字跟图标隔开点
  width: 30px;
}
/*设计师使用原理*/
.designer-details{
  background: #f2f2f2;
  margin-top: 120px;
}


.designer-details h4{
  margin-top: 120px;
}
.designer-details h2{
  margin-bottom: 10px;
}
.designer-details p{
  font-size: 18px;
  color: #999999;
  margin-top: 20px;
}
.designer-feedback img{
  margin-top: 120px;
  margin-bottom: 100px;
}

/* user-look*/
.user-look{
 // background-color: #f2f2f2;
 margin-top: 120;
 // padding: 30px 10px;
 margin-bottom: 30px;
}
.user-look-box{
  margin-top: 50px;
}
.user-look-table{
  border: 1px solid #e0e0e0;
  margin-bottom: 60px;
  border-radius: 4px;
}
.user-look-image{
  // background: url("https://ooo.0o0.ooo/2016/11/27/583a73fa9d282.png");
  height: 160px;

  background-repeat: no-repeat;
  background-position: center;
}
.user-look-content{
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.user-look-content h3{
  font-size: 18px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #1b1b1b;
}
.user-look-content p{
  font-size: 14px;
  position: relative;
  margin-left: 40px;
  margin-bottom: 15px;
  color: #999999;
}
.user-look-read p{
  margin: 10px;
  color: #999999;
}
.user-look-read button{
  width: 200px;
  height: 30px;
  border: 1px solid #e0e0e0;
  color: #008ed6;
  border-radius: 4px;
  background: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
}


/*call-to-action*/
.call-to-action{
  background: #4687f4;
}
.call-to-action p{
  font-size: 36px;
  color: #ffffff;
  font-weight: 300;
  padding: 40px 0;
}
.call-to-action p span{
  font-size: 36px;
  color: #ffffff;
  font-weight: 600;
  padding: 40px 0;
}
.call-action-button{
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-top: 45px;
}
.call-action-button:hover{
  color: #4687f4;
  background: #ffffff;
}

/*free*/
.free{
  background: #ededed;
  position: relative;
	height: 400px;
}
.free-head{
  margin-top: 100px;
}
.free hr{
  margin-bottom: 40px;
  width: 80px;
}
.free i.fa{
  color: #4687f4;
  font-size: 30px;
	padding: 20px;
}
.free p{
  font-size: 18px;
	color: #999999;
	line-height: 1;
}

/************************ end Landing Page ********************************/


/************************ begen order index *******************************/


/************************ end order index *********************************/

/************************ begen order show  ********************************/
/*top-tree-button*/
.show-tree-button{
  border: 1px solid #e0e0e0;
  margin-top: -20px;
}
.top-button{
  border-radius: 0px;
  border: 1px solid #ffffff;
  font-weight: 700;
  color: #949494;
}
.top-button:hover{
  background: #e0e0e0;
  border: 1px solid #ffffff;
}

.top-button .acive,
.top-button .acive:focus{
  background: #4687f4;
  border: 1px solid #ffffff;
}
// .nav-button-line:focus{
//   border-bottom: 1px solid #4687f4;
// }

/*order-show-section*/
.order-show-bg {
  background: #eeeeee;
}

.left-section{
  background: #ffffff;
  min-height: 800px;
}

.right-section{
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  min-height: 800px;
}
.right-section ul{

  margin-top: 20px;
  margin-left: -30px;
}
.bottom-line li{
  // border-bottom: 1px solid #e0e0e0;
  display: block;
}
.xiao-blue{
  background: #4687f4;
  color: #ffffff;
}
.xiao-blue:hover{
  border: 1px solid #4687f4;
  color: #4687f4;
  background: transparent;
}
.version{
  border-radius: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  width: 200px;
  font-size: 18px;
  background: #ffffff;
  margin: 10px 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #777777;
}

.selected-version{
  border-radius: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  width: 200px;
  font-size: 18px;
  background: #7AC3FE;
  margin: 10px 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
}



.version i{
  margin-right: 10px;
  color: #4687f4;
}
.version:hover{
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  color: #4687f4;
}
.order-show-shadow{
  margin-top: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/************************ end order show **********************************/

/************************ begen footer  ***********************************/
.footer{
  padding: 30px 0px;
}
.footer-icons a i{
  font-size: 20px;
  color: #545454;
  margin: 10px 5px;
  padding-top: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid #cccccc;
}
.footer-icons a:hover i{       //链接作用在a上
  border-color: #4687f4;
}
/************************ end footer **************************************/




.total_price {
  font-size: 15pt
}

.progress-indicator {
  width: 80%;
}

/********************************************************************/


#white {
  background-color: #FFFFFF;
}
/********************************************************************/

.right-grey-border {
  border-right-style:solid;
  border-right-width: 1px;
  border-color: #F5F5F5;
}

.marker{
  width: 27px;
  height: 40px;
  position: absolute;
  left: -13px;
  top: -35px;
  font-size: 12px;
  font-weight: bold;
  line-height: 25px;
  letter-spacing: -1px;
  text-align: center;
  color: #fff;
}

.marker.black{
  background: url("marker_black.png");
}


table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

/*** element horizontal center ***/

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}


/*** PANEL PRIMARY ***/

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}


.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

/********************************************************************/




/*
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background-color: #0096FF;
  color: white;
  border-color: transparent;
}
*/



/*****************************button 02*****************************/
// .button02{
//
// 	color: #fff;
// 	font-size: 12px;
// 	line-height: 1.64;
// 	// margin-top: 12px;
// }
// .box2 {
// 	background: #4687f4;
// 	color: #fff;
// 	cursor: pointer;
// 	display: block;
// 	// margin-top: 3px;
// 	padding: 18px;
// 	text-align: center;
// 	width: 150px;
// 	transition:all 1s ease-out;
// 	-webkit-transition: -webkit-box-shadow 0.5s ease-out;
// 	-moz-transition: -moz-box-shadow 0.5s ease-out;
// 	// -o-transition: box-shadow 0.5s ease-out;
// }
// .box2:hover {
// 	-moz-box-shadow: 0px 0px 15px #4687f4;
// 	-webkit-box-shadow: 0px 0px 15px #4687f4;
// 	 box-shadow: 0px 0px 15px #4687f4;
// }
// .button02:hover h5{
// 	// color: #fff;
// 	text-decoration: none;
// }
/*********************************end  button02***********************/


.version-indicator {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #69B5FD;
  color: white;
}

.noted-indicator {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  background-color: #orange;
  color: white;
  position:absolute;
  right:0;
  top:0;
}

.history-button {
  margin-left:30px;
  margin-top:30px;
}

.notification-indicator {
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  position:absolute;
  right: 0px;
  top: 5px;
}


/**************************begin 白色box ***********************/

.box {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 100%;
  height: 180px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  // -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  // transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  // border-radius: 5px;
  position:absolute;
  // z-index:－1 ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  // -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  // transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

// .box:hover {
//   -webkit-transform: scale(1.25, 1.25);
//   transform: scale(1.25, 1.25);
// }

.box:hover::after {
    opacity: 1;
}
.margin-set{
  margin-top: 10px;
}
.box p{
  color: #888b8d;
}
.box:hover p{
  color: #4687f4;
}

.box h4{
  color: #888b8d;
  // margin: 80px;
}

.box:hover h4{
  color: #4687f4;
}
.box-no-shadow {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 100%;
  height: 180px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 2px dashed #ccc;
  // -webkit-transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  // transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box-no-shadow::after {
  content: "";
  // border-radius: 5px;
  position:absolute;
  z-index:1 ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px dashed #4687f4;
  opacity: 0;
}
.box-no-shadow:hover::after {
    opacity: 1;
}
.box-no-shadow h5{
  color: #4687f4;
}
.box-no-shadow:hover h5{
  color: #4687f4;
}



/**************************end 白色box *************/

#add-icon-color{
  color: #4687f4;
  margin-top: 30px;
}
#add-icon-color :hover{
  color: #4687f4;
}
#text-and-botton-bule{
  color: #4687f4;
}
#text-and-botton-gray{
  color: #888b8d;
}
#text-and-botton-gray :hover{
  color: #4687f4;
}
.btn-primary-diy{
  color: #333;
  background-color: #fff;
  // border-color: #4687f4;
}
.login-diy{
  margin-top: 15px;
}
.container-diy{
  z-index: -2;
  background-color: #f6f6f6;
  // padding-top: 0px;
}
.add-praject-button{
  width: 150px;
  height: 43px;
  margin: 40px;
  border: 2px solid #4687f4; //全站所有蓝色色号
  color: #ffffff;
  margin-top: 12px;
  background-color: #4687f4;
}

.project p{
  margin-top: 10px;
  font-size: 10pt;
}
.project-img{
  position: relative;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-size: cover;
    background-position: center center;
}

#shadow-over :hover{
  background-color:#fff;
}

.navbar-diy{
  height: 71px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 10px #bfbfbf; //x坐标 y坐标 模糊程度 颜色
}
.navbar-logo-diy{
  margin-top: 14px;
  margin-left: 30px;
  font-size: 20pt;
}
.button-height{
  height: 223px;
}

.login-diy{
color: #666;
  }

// .blue-btn :hover{
//   background-color: #f1f1f1;
// }
.font-gray{
  color: #666;
}
.font-gray2{
  color: #bfbfbf;
}
.onepage{
  height: 750px;
}
.onepage-bg{
  height: 800px;
  width: 100%;
  position: absolute; //绝对定位，如果删除，图片会在内容下面承载页面。
  background-position: center center;
  background-size: cover; //屏幕缩小时，图片不压缩。
}

#onepagebg{
  // background-image: url("https://ooo.0o0.ooo/2016/11/16/582c1468947dc.jpg");
}

.onepage0{
  height: 400px;
  // background-color: #5c9cfb;
}
.onepage-bg0{
  height: 450px;
  width: 100%;
  position: absolute;
  background-position: center center;
  background-size: cover;
}
#onepagebg1{
  background-image: url("https://ooo.0o0.ooo/2016/11/16/582c6517ddf8f.jpg")
}
.headh1content{
  margin-top: 300px;
  line-height: 75px; //行间距
}
.headfontsize h1{
  font-size: 50pt;
  // color: #333;
  // margin-bottom: 50px;
}
.headfontsize h4{
  margin-top: 50px;
  margin-bottom: 30px;
}
.title-text{
  // margin-left: 0px;
}
.text-top-diy{
  margin-top: 200px;
}
.text-top-diy h3{
  font-size: 28pt;
  color: #666;
}
.text-top-diy p{
  color: #ccc;
}

.cart{
  background-color: #eeeeee;
  padding: 70px;
}
.cart-image{
  margin: 25px 0px 15px 15px;
}
.cart-info{
  // height: 240px;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px #bfbfbf; //x坐标 y坐标 模糊程度 颜色
}
.cart-info h3{
  margin-top: 30px;
  color: #666666;
}
.checkout-button{
  height: 65px;
  margin-top: 40px;
}
.cart-text{
  margin-top: 30px;
  color: #666666;
}
.cart-text2 p{
  color: #bfbfbf;
}
.cart-text2 hr{
  margin-top: 4px;
  margin-bottom: 10px;
}
.text-time{
  margin-top: 50px;
  color: #666666;
}
.text-time hr{
  border-top: 1px solid #bfbfbf; //hr 的颜色设置
}
.text-time h4{
  margin-bottom: 20px;
}

.landing-form-hight{
  height: 400px;
}

.devise-diy-shin{
  margin-top: 100px;
  color: #666666;
}

.landing-form-wide{
  width: 300px;
}

/************ order/show *************/
.with-button{
  width: 120px;
}


/************ end order/show *************/
// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #f2f2f2;
$table-header-background-color: #3071a9;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      text-align: center;
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles

// body {
//   padding: 0 2em;
//   font-family: Arial, sans-serif;
//   color: #024457;
//   background: #f2f2f2;
// }

// h1 {
//   font-family: Verdana;
//   font-weight: normal;
//   color: #024457;
//   span {color: #167F92;}
// }

// designer profile 相关css
.Designer-profile{
  margin-top: 30px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}


.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.top img{
  vertical-align:text-top
}


.bottom img{
  vertical-align:text-bottom
}


/************ designer/index *************/

.order-list{
  background-color: #f1f1f1;
}

.left{
  color: #ffffff;
  background-color: #4285F4;
  padding: 20px 10px;
  text-align: center;
  width: 240px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  transition:all 1s ease-out;
}


.left:hover{
   box-shadow: 0px 0px 15px #4687f4;
}
.right{
  background: white;
  cursor: pointer;
  margin-top: 10px;
   padding: 20px 20px 20px 10px;
   color: #888B8D;
   width: 830px;
   text-align: center;
   font-size: 18px;
   transition:all 1s ease-out;
}

.right:hover{
  box-shadow: 0px 0px 15px #979797;
}

/************ faq/index *************/
.faq-bg{
  background-color:  #f9f9fa;
}

.faq-page{
  margin: 20px 0px;
  padding: 25px 45px 25px 45px;
  background-color: white;
  color: #888B8D;
  font-size: 14px;
  letter-spacing: 0.1em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.faq-page p{
  font-size: 18px;
  color: #333;
}
