<% case order.aasm_state %>
<% when "paid" %>
  <p> 已付款 </p>
<% when "picked" %>
  <p> 已接单 </p>
<% when "versions_submitted" %>
  <p> 已提交 </p>
<% when "version_selected" %>
  <p> 已确认 </p>
<% when "completed" %>
  <p> 已完成 </p>
<% end %>
