

<br>
<div class="container-fluid well text-center" style="margin-bottom: 0;">
	<h4><%= "对话记录" %></h4>
</div>
<hr>

<div class="pre-scrollable" id="output">
	<% order.stages.each do |stage| %>
		<%= render partial: "common/show_messages", locals: {stage: stage} %>
	<% end %>
</div>


<%= render_additional_comment_if_necessary(order) %>

<!-- <script>
	(function($) {
			$(document).ready(function() {
				$("#output").scrollTo(1000000);
			});
		})(jQuery);
</script> -->