<% if @order.attachment.present? %>
  <h2 class="text-center">订单已完成</h2>
<% else %>
  <h2 class="text-center">需要设计师提交最终稿</h2>
  <%= simple_form_for [:designer, @order] do |f|%>
    <%= f.input :attachment %>
    <%= f.submit "发送" %>
  <% end %>
<% end %>
