

<%= render partial: "common/order_info", locals: {order: @order} %>

<div class="container">
	<%= render partial: "common/designer_submitted_versions" %>
	<%= render partial: "common/designer_add_versions", locals: { order: @order, current_stage: @current_stage } %>
</div>



