
  <% if @order.attachment.present? %>
    <div class="row">
      <h2>最终稿件已上传</h2>    
    </div>
  <% else %>
    <h2>向客户提供最终稿件</h2>
  <% end %>
  <hr>

  <div class="row">
    <%= simple_form_for [:designer, @order] do |f|%>
      <%= f.input :attachment, label: "上传最终作品打包文件", input_html: { class: "horizontal-center" } %>
      <br><br>

      <%= f.submit @order.attachment.present? ? "再次发送" : "发送", class: "btn btn-defalut" %>
    <% end %>
    <br>
  </div>
  <hr>

  <%= render partial: "common/selected_stage", :locals => { :stage => @stage } %>


