
<div class="container-fluid">
	<%= link_to("添加稿件", new_designer_order_stage_version_path(order, order.current_stage), :class => "btn btn-primary") %>


	<%= form_tag designer_order_submit_versions_path(order) do -%>
	  <%= render :partial => "common/comment_area" %>
	  <%= submit_tag '发送稿件和评论给客户', :class => "btn btn-lg btn-success pull-right" %>
	<% end -%>
</div>

	