<table class="responstable">
  <%#= render "common/orders_index_title" %>
  <tbody>
    <%# orders.each do |order| %>
        <%#= render partial: "common/orders_index_orders", locals: {order: order} %>
    <%# end %>
  </tbody>
</table>
