


<h2 class="text-center">用户选择的方案</h2>
<%= render partial: "common/selected_version", :locals => { order: @order } %>
<%= render partial: "common/designer_versions_submitted" %>
<%= render partial: "common/designer_add_versions", locals: { order: @order, current_stage: @order.stages.closed.last } %>
<br><br>
