<div class="container">
  <% if @order.stages.last.versions.present? %>
    <% @current_stage.versions.each_with_index do |version,i| %>
  <div class="row">
    <div class="col-md-12">

      <div class="col-md-2">
        <button class="btn btn-default btn-lg" role="button">
        <%= link_to("第 #{i+1} 稿", '#') %>
        </button>
      </div>

      <div class="col-md-10">

        <% version.samples.each do |sample| %>
        <div class="col-md-3">
            <%= link_to(render_sample(sample), designer_order_stage_version_path(@order, @order.stages.last, version)) %>
        </div>
        <% end %>

      </div>

    </div>

  </div>
  <% end %>
  <% end %>
</div>
