
<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="icons">
          <a href=""><i class="fa fa-weibo"></i></a>
					<a href=""><i class="fa fa-weixin"></i></a>
          <a href=""><i class="fa fa-behance"></i></a>
          <a href=""><i class="fa fa-dribbble"></i></a>
          <a href=""><i class="fa fa-github"></i></a>
					<a href=""><i class="fa fa-google"></i></a>
        </div>
      </div>
    </div>
  </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Copyright ©2016 DesignDeckTeam
              <br>Design by
              <a href="#" target=_new>DesignDeck</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
