
<footer class="footer text-center">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Copyright ©2016 DesignDeckTeam
              <br>Design by
              <a href="#" target=_new>DesignDeck</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
