<footer class="container-fluid" style="margin: 80px;">
  <div class="col-md-10 col-md-offset-1">
    <hr>
    <p class="text-center">Copyright ©2016 DesignDeckTeam
        <br>Design by
        <a href="#" target=_new>DesignDeck</a>
    </p>
  </div>
</footer>
