
<% if @order.versions.present? %>

  <div class="btn-group">
    <% @order.versions.each_with_index do |version,i| %>
      <%= link_to("第 #{i} 稿", designer_order_version_path(@order, version), :class => "btn btn-default") %>
    <% end %>
  </div>
<% end %>

<hr>

<%= link_to("上傳稿件", new_designer_order_version_path(@order), :class => "btn btn-large btn-default") %>
