<% if user.has_unread_notifications? %>
	<li><%= link_to designer_orders_path do %>
		<i class="fa fa-circle" aria-hidden="true" style="color: red;"></i><span> 订单中心</span>
		<% end %>
	</li>
<% else %>
	<li><%= link_to "订单中心", designer_orders_path, class: "page-scroll" %></li>
<% end %>     