<% case order.aasm_state %>
<% when "paid" %>
  <span> 已付款 </span>
<% when "picked" %>
  <span> 已接单 </span>
<% when "versions_submitted" %>
  <span> 已提交 </span>
<% when "version_selected" %>
  <span> 已确认 </span>
<% when "completed" %>
  <span> 已完成 </span>
<% end %>
