<% case order.aasm_state %>
<% when "placed" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/12/01/5840362d52640.png')"
class="project-img"></div>
<% when "paid" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/12/01/5840362fcc027.png')"
class="project-img"></div>
<% when "picked" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/12/01/58403da544002.png')"
class="project-img"></div>
<% when "drafts_submitted" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/12/01/5840362e4c184.png')"
class="project-img"></div>
<% when "draft_selected" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/12/01/58403da544002.png')"
class="project-img"></div>
<% when "versions_submitted" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/12/01/5840362f0ac1d.png')"
class="project-img"></div>
<% when "version_selected" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/11/23/583535f71d4c7.png')"
class="project-img"></div>
<% when "completed" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/12/01/584036319c635.jpg')"
class="project-img"></div>
<% end %>
