<% case order.aasm_state %>
<% when "paid" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/11/23/58352fa7e3a0e.png')"
class="project-img"></div>
<% when "picked" %>
  <div style="background-image:url('https://ooo.0o0.ooo/2016/11/23/583535f71d4c7.png')"
  class="project-img"></div>
<% when "versions_submitted" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/11/23/583535f71d4c7.png')"
class="project-img"></div>
<% when "version_selected" %>
<div style="background-image:url('https://ooo.0o0.ooo/2016/11/23/583535f71d4c7.png')"
class="project-img"></div>
<% when "completed" %>
  <p> 已完成 </p>
<% end %>
