

<% if order.placed? || order.paid? || order.picked? %>
    <%= render_order_step(order, user) %>
<% else %>

    <div class="panel with-nav-tabs panel-primary container">
        <div class="panel-heading row">
                <ul class="nav nav-tabs nav-justified ">
                    <li><a href="#order_info" data-toggle="tab">订单</a></li>
                    <li class="active"><a href="#stages" data-toggle="tab">作品</a></li>
                    <li><a href="#conversation" data-toggle="tab">对话</a></li>

                </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade" id="order_info">
                    <%= render partial: "common/order_info", :locals => { order: order } %>
                </div>
                <div class="tab-pane fade in active" id="stages">
                    <%= render_order_step(order, user) %>
                </div>
                <div class="tab-pane fade" id="conversation">
                    <%= render partial: "common/conversation_for_order", :locals => { order: @order } %>
                </div>
            </div>
        </div>
    </div>
    
<% end %>




    