<div class="container">
	<br>
	<% if current_user.is_designer %>
		<%= render :partial => "designer/orders/info", :locals => { order: order } %>
	<% else %>
		<%= render_order_step(order, user) %>
	<% end %>
</div>
