<% selected_version = order.last_selected_version %>
<% samples  = selected_version.samples %>


<!-- 显示最新一个stage的评论，还是显示最后一条closed的stage的评论 -->
<% if order.stages.last.conversation.present? %>
	<% stage = order.stages.last %>
<% else %>
	<% stage = order.stages.closed.last %>
<% end %>



<div class="container-fluid">

	<div class="row">
		<% samples.each do |sample| %>
			<div class="col-md-3">
				<%= render_sample(sample) %>
			</div>
		<% end %>
	</div>
	<h2>评论</h2>
	<%= render :partial => "common/show_messages", locals: {stage: stage} %>
</div>
