<% selected_version = order.current_stage.versions.where(aasm_state: "selected").first %>
<% samples  = selected_version.samples %>

<div class="container-fluid">

<div class="row">

	<% samples.each do |sample| %>
		<div class="col-md-3">
			<%= render_sample(sample) %>
		</div>
	<% end %>
</div>

<div class="row text-center">
	<h2>选择理由</h2>
	<div class="well"><p><%= order.current_stage.stage_comments.first.content %></p></div>
</div>

</div>
