<% selected_version = order.last_selected_version %>
<% samples  = selected_version.samples %>


<!-- 显示最新一个stage的评论，还是显示最后一条closed的stage的评论 -->
<% if order.stages.last.conversation.present? %>
	<% stage = order.stages.last %>
<% else %>
	<% stage = order.stages.closed.last %>
<% end %>

<br>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<% samples.each do |sample| %>
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<%= render_sample_with_link(sample) %>
				<%= render_note_indicator(sample) %>
			</div>
			<div class="col-md-2"></div>

		</div>

		<% end %>
	</div>
</div>

<hr>