<% selected_version = order.last_selected_version %>
<% samples  = selected_version.samples %>

<div class="container-fluid">

	<div class="row">
		<% samples.each do |sample| %>
			<div class="col-md-3">
				<%= render_sample(sample) %>
			</div>
		<% end %>
	</div>

	<%= render :partial => "common/show_messages", locals: {stage: order.stages.closed.last} %>	
</div>
