
<div class="col-md-10 text-center right-grey-border">
	<%= image_tag "user_order_paid.png", style: "width:40%;" %>
</div>

<div class="col-md-2">
	<%= render partial: "common/user_stages_history_buttons", locals: { order: @order, stage: @stage, other_stages: @other_stages} %>
</div>
