<div class="container">
	<h2>已选择方案，等待设计师提交稿件</h2>
</div>

<%= render :partial => "common/selected_version", :locals => { :order => @order } %>

	
<%= form_tag account_order_submit_additional_comment_path(@order) do -%>
<%= render :partial => "common/comment_area" %>
	<div class="container-fluid">		
	  	<%= submit_tag '补充评论', :class => "btn btn-lg btn-success pull-right" %>	
	</div>
<% end -%>	