

<div class="container">
	<%= render partial: "common/order_info", locals: {order: @order} %>
</div>

<div class="container text-center">
	<%= image_tag "user_order_paid.png", style: "width:40%;" %>
</div>

