<div class="container" style="position: fixed;">


    <%= render_download_order_attachment_button(order) %>
    <br>

	<%= render_lastest_stage_snap_button(stage, order, current_user) %>
	<br>

	<% other_stages.each_with_index do |another_stage, index| %>
		<%= render_another_stage_snap_button(stage, another_stage, order, current_user, index) %>
		<br>
	<% end %>


</div>